@{
    ViewData["Title"] = "Página Home";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h1 class="fw-bold text-danger mb-1">Sistema de produtos</h1>
            <h2 class="fw-bold text-danger mb-1">Tecnologia de qualidade</h2>
            <p class="text-muted mb-0">Aqui você gerenciará nosso sistema de cadastro de produtos.</p>
        </div>
    </div>
</div>